

   <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
<body>
  <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="/static/Books-logo.png" width="75" height="75" class="d-inline-block align-top" alt="" loading="lazy">
    <div style="padding-top: 20px;float: right;" >Books Recommender (with Sentiment Analyzer)</div>
  </a>
</nav>

 <div class="container-fluid pt-1" style="position: relative;left: 20%;">
<div class="container p-6">

         <h1 class="display-1">ITEM BOUGHT !</h1>

         
    </div>
   </div>
    
  
</div></div>
        
</body></html>   

